<section class="course-details" *ngIf="!isLoading && course">
    <div class="container">
      <img [src]="course.imageCover ? 'https://localhost:44383/'+course.imageCover :'default.png'" [alt]="course.title" class="course-image" />
      <div class="course-info">
        <h1>{{ course.title }}</h1>
        <p class="description">{{ course.description }}</p>
        <div class="extra-info">
          <p *ngIf="course.instructorName"><strong>Instructor:</strong> {{ course.instructorName }}</p>
        </div>
      </div>
    </div>
  </section>
  
  <div *ngIf="isLoading" class="loading">Loading course details...</div>
  